<template name="login">
    <div class="login-container">
        <div class="card">
            <div class="card-header">
                <img src="/logo-particle.jpg" alt="logo sso communecter" height="194">
            </div>
            <div class="card-body">
                <form class="login-form">
                    {{#if error}}
                        <div class="form-error">
                            <span>{{_ error}}</span>
                        </div>
                    {{/if}}
                    <div class="form-control">
                        <label>E-mail</label>
                        <input type="email" id="email" placeholder="{{_ "email"}}">
                    </div>
                    <div class="form-control">
                        <label>Mot de passe</label>
                        <input type="password" id="password" placeholder="{{_ "password"}}">
                    </div>
                    <button type="submit" class="button button-success {{#if loadingLogging}}button-loader{{/if}}">
                        {{_ "loggin"}}
                    </button>
                </form>
            </div>
        </div>
        <div class="sso-footer">
            <div>
                <span>{{_ "do not have an account"}} ?</span>
                <a href="" class="signin-view-js">{{_ "create an account"}}</a>
            </div>
        </div>
    </div>
</template>

<template name="signin">
    <div class="signin-container">
        <div class="card">
            <div class="card-header">
                <img src="/logo-particle.jpg" alt="logo sso communecter" height="83">
            </div>
            <div class="card-body">
                <form class="signup-form">
                    {{#if error}}
                        <div class="form-error">
                            <span>{{_ error}}</span>
                        </div>
                    {{/if}}
                    <div class="form-control">
                        <label>{{_ "name"}}</label>
                        <input type="text" id="name" placeholder="{{_ "name"}}">
                    </div>
                    <div class="form-control">
                        <label>{{_ "email"}}</label>
                        <input type="email" id="email" placeholder="{{_ "email"}}">
                    </div>
                    <div class="form-control">
                        <label>{{_ "username"}}</label>
                        <input type="text" id="username" placeholder="{{_ "username"}}">
                    </div>
                    <div class="form-control">
                        <label>{{_ "password"}}</label>
                        <input type="password" id="password" placeholder="{{_ "password"}}">
                    </div>
                    <div class="form-control">
                        <label>{{_ "repassword"}}</label>
                        <input type="password" id="repassword" placeholder="{{_ "repassword"}}">
                    </div>
                    <div class="form-control">
                        <label>{{_ "postcode"}}</label>
                        <input type="text" id="codepostal" value="{{codepostal}}" placeholder="{{_ "postcode"}}">
                    </div>
                    {{#if city}}
                        <div class="form-control">
                            <label>{{_ "city"}}</label>
                            <select name="city" id="city">
                                {{#each city}}
                                    <option value="{{insee}}" {{citySelected}}>{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    {{/if}}
                    {{#if city}}
                        <button type="submit" class="button button-success {{#if loadingLogging}}button-loader{{/if}}">
                            {{_ "signin"}}
                        </button>
                    {{/if}}
                </form>
            </div>
        </div>
        <div class="sso-footer">
            <div>
                <span>{{_ "already have an account"}} ?</span>
                <a href="" class="login-view-js">{{_ "loggin"}}</a>
            </div>
        </div>
    </div>
</template>