<template name="authorize">
  {{#if currentUser}}
    <form method="post" action="" id="form" role="form">
      <div class="authorize-container">
        <div class="card">
          <div class="card-header">
            <img src="/logo-min.png">
          </div>
          <div class="card-body">
            <h2>
              {{_ "You_are_logged_in_as"}}<br><span>{{currentUser.profile.pixelhumain.name}}</span>
            </h2>
            {{#if currentUser.profile.pixelhumain.profilThumbImageUrl}}
              <div class="user-profil">
                <img src="{{urlImageCommunecter}}{{currentUser.profile.pixelhumain.profilThumbImageUrl}}" alt="">
              </div>
            {{/if}}
            <p><span>{{getClient.title}}</span>
              {{#if isAuthorizedClients client_id}}
                {{_ "is_allowed_to_connect"}}
              {{else}}
                {{_ "will_be_able_to"}}
              {{/if}}
            </p>
            <input type="hidden" name="allow" value="yes">
            <input type="hidden" name="token" value="{{getToken}}">
            <input type="hidden" name="client_id" value="{{client_id}}">
            <input type="hidden" name="redirect_uri" value="{{redirect_uri}}">
            <input type="hidden" name="response_type" value="code">
            <div class="action-buttons">

              <button type="submit"
                class="button button-success {{#if isAuthorizedClients client_id}}button-hide{{/if}}">{{_ "Authorise"}}</button>
              <button class="button button-danger" id="logout-oauth">{{_ "Logout"}}</button>
              <button class="button" id="cancel-oauth">{{_ "Cancel"}}</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    {{#unless Template.subscriptionsReady}}
      chargement...
    {{/unless}}
  {{else}}
    {{#if equals viewlog 'login'}}
      {{#if Template.subscriptionsReady}}
        {{> login}}
      {{else}}
        chargement...
      {{/if}}
    {{else}}
      {{> signin}}
    {{/if}}
  {{/if}}
</template>

<template name="oauth404">
  <div class="oauth404-container">
    <div class="card">
      <div class="card-header">
        <img src="/logo-min.png">
      </div>
      <div class="card-body">
        {{#if equals error '404'}}
          <div class="error-404">
            <div><img src="/icon-warning.png" alt=""></div>
            <p>Invalid OAuth client</p>
          </div>
        {{/if}}
        {{#if equals error 'invalid_redirect_uri'}}
          <div class="invalid-redirect-uri">
            <div><img src="/icon-warning.png" alt=""></div>
            <p>Redirect URL does not match</p>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</template>

<template name="headerTitleAuthorize">
  <h1 class="title">Communecter</h1>
</template>

<template name="headerTitleOauth404">
  <h1 class="title">Communecter sso error</h1>
</template>