<!-- <template name="layout">
  {{#ionBody}}

    {{#ionNavBar class="bar-stable"}}
      {{> Template.dynamic template=headerButtonLeft}}
      {{> Template.dynamic template=headerTitle}}
      {{> Template.dynamic template=headerButtonRight}}
    {{/ionNavBar}}

    {{#ionNavView}}
      {{> yield}}
    {{/ionNavView}}

  {{/ionBody}}
</template> -->
<template name="layout">
  <div class="container">
    <div class="content">
      <div class="title">
        <h4>Communecter SSO</h4>
        <h4>{{> Template.dynamic template="headerTitle"}}</h4>
      </div>
      {{> yield}}
    </div>
  </div>
</template>