.authorize-container{
    .card-header img{
        width: 35px;
    }

    .card-body h2{
        text-align: center;
        margin-top: 20px;
        color: #555;
        line-height: 1.5;
        font-weight: normal;
        span{
            color: #222;
            font-weight: bold;
        }
    }

    .user-profil{
        text-align: center;
        margin-top: 20px;
        img{
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 100%;
        }
    }

    .card-body p{
        margin-top: 20px;
        color: #555;
        text-align: center;
        line-height: 1.5;
        span{
            font-weight: bold;
            color: #222;
        }
    }

    .action-buttons{
        margin-top: 20px;
    }
}

.oauth404-container{
    .card-body{
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .card-header img{
        width: 35px;
    }

    .error-404, .invalid-redirect-uri{
        text-align: center;
        .icon{
            font-weight: bold;
            font-size: 3em;
            display: flex;
            justify-content: center;
            color: #dd583f;
            text-shadow: 10px 10px 30px #dd583f;
        }
        p{
            text-align: center;
            margin-top: 30px;
            color: #777;
            font-size: 16px;
            padding: 5px 10px;
            background-color: #dd583f;
            color: white;
            border-radius: 4px;
        }
        i{
            font-size: 6em;
            color: #dd583f;
        }
    }
}