.loading-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loader{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loader img{
    width: 80px;
    margin-bottom: 10px;
}

.square-loader{
    position: relative;
    width: 10px;
    height: 10px;
    background-color: $green;
    animation: flashing 1s infinite linear alternate;
    animation-delay: .5s;
    &::before, &::after{
        content: "";
        display: inline-block;
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: $green;
        top: 0;
    }
    &::before{
        left: -18px;
        animation: flashing 1s infinite alternate;
        animation-delay: 0s;
    }
    &::after{
        left: 18px;
        animation: flashing 1s infinite alternate;
        animation-delay: 1s;
    }
}

@keyframes flashing {
    0% {
        background-color: $green;
    }
    50%, 100% {
        background-color: #ebe6ff;
    }
}