$green: #9fbd38;
@import 'login';
@import 'loader';
@import 'authorize';

*{
    margin: 0;
    padding: 0;
}

body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    color: #3c4257;
    background-image: url(/particle-bg.png);
    @media screen and (max-width: 600px){
        width: 100%;
        background-color: white;
        background-image: none;
    }
}

.content{
    width: 500px;
    padding: 50px 0px;
    @media screen and (max-width: 600px){
        width: 100%;
        box-sizing: border-box;
        padding: 30px 25px;
    }
}

.title{
    padding-bottom: 25px;
    display: flex;
    justify-content: space-between;
}

.title h4:last-child{
    color: $green;
}

.card{
    background-color: white;
    box-shadow: 0 15px 35px 0 rgba(60, 66, 87, .08), 0 5px 15px 0 rgba(0, 0, 0, .12);
    border-radius: 4px;
    padding: 50px;
    position: relative;
    @media screen and (max-width: 600px){
        box-shadow: none;
        padding: 0px;
    }
}

.card-header{
    text-align: center;
}

.card-header img{
    width: 350px;
    @media screen and (max-width: 600px){
        width: 80%;
    }     
}

.form-control{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-control label{
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 15px;
}

.form-control input{
    color: #212529;
    border:1px solid #ced4da;
    font-size:.875rem;
    padding: .25rem .5rem;
    font-weight: 400;
    line-height: 2;
    border-radius: .25rem;
}

.form-control input:focus, .form-control select:focus{
    outline: none;
}

.form-control select{
    border:1px solid #ced4da;
    background-color: white;
    color: #212529;
    font-size:.875rem;
    padding: .5rem .5rem;
    font-weight: 400;
    line-height: 2;
    border-radius: .25rem;
}

.button{
    border: none;
    width: 100%;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 4px;
    color: #222;
    cursor: pointer;
    transition: .3s;
    margin-top: 10px;
    position: relative;
    transition: .3s;
    &:hover{
        filter: brightness(0.90);
    }
    &.button-success{
        color: white;
        background: $green;
    }
    &.button-danger{
        color: white;
        background-color: #dd583f;
    }
    &.button-hide{
        display: none;
    }
}

.button-loader{
    color:#d3ef5f;
    cursor: not-allowed;
    pointer-events: none;
    &::before{
        content:'';
        position:absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        right:10px;
        width:15px;
        height:15px;
        border: 4px solid #d3ef5f;
        border-left-color: transparent;
        border-radius: 50%;
        animation-name: spin;
        animation-duration: 1500ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.form-error{
    margin-bottom: 15px;
    padding: 6px 8px;
    background: rgba(191, 76, 101, .2);
    border-radius: 4px;
    color: #cf3e65;
    font-size: 14px;
    font-weight: 500;
}

.sso-footer{
    text-align: center;
    padding-top: 30px;
    color: #777;
}
.sso-footer span{
    margin-right: 5px;
}
.sso-footer a{
    color: $green;
    font-weight: bold;
    text-decoration: underline;
}