<template name="home">
  <div class="home-container">
    <div class="card">
      <div class="card-header">
        <img src="/logo-particle.jpg" alt="logo sso communecter" height="194">
      </div>
    </div>
  </div>
</template>

<template name="headerTitleHome">
  <h1 class="title">Communecter SSO</h1>
</template>